<html>

<head>
    <title>GTC</title>
    <link rel="icon" href="/img/logo.jpg">
    <script src="/js/logout.js"></script>
    <link rel="stylesheet" href="/css/ad.css">
</head>

<body>
    <div>
        <h1> Global Connect </h1><button id="logBtn">Logout</button>
        <hr>
    </div>
    <div id='cssmenu'>
        <ul>
            <li><a href='/home'><span>Home</span></a></li>
            <li><a href='/admin'><span>Admin</span></a></li>
            <li><a href='/vendor'><span>Vendor</span></a></li>
            <li><a href='/user'><span>User</span></a></li>
            <li><a href="/product"><span>Product</span></a></li>
            <li><a href="/ad"><span>Ad</span></a></li>
        </ul>
    </div>
    </body>
    </html>