<html>
    <html lang="en">

<head>
     <meta charset="UTF-8">
    <script src="/js/jquery-3.6.1.js"></script>
    <script src="/js/user.js"></script>
    <script src="/js/logout.js"></script>
    <link rel="stylesheet" href="/css/adduser.css">
    <title>GTC</title>
    <link rel="icon" href="/img/logo.jpg">
</head>

<body>
    <div>
        <h1> Global Connect </h1> <button id="logBtn">Logout</button>
        <hr>
    </div>
    <div id='cssmenu' >
        <ul>
            <li><a href='/home'><span>Home</span></a></li>
            <li><a href='/admin'><span>Admin</span></a></li>
            <li><a href='/vendor'><span>Vendor</span></a></li>
            <li><a href='/user'><span>User</span></a></li>
            <li><a href="/product"><span>Product</span></a></li>
            <li><a href="/ad"><span>Ad</span></a></li>
        </ul>
        </div>
        <form id="userForm" style="position:absolute; left:200px; bottom:20px;">
        <label>Name :</label>
        <input type="text">
        <br>
        <br>
        <br>
         <label>Email :</label>
        <input type="email">
        <br>
        <br>
        <br>
         <label>Password :</label>
        <input type="password">
        <br>
        <br>
        <br>
        <input type="submit" value="Create" style="margin:10px; position:relative; left:10px;">
        <input type="Reset" value="Reset" style="margin:10px; position:relative; left:60px;">
        <br>
    </form>
        </body>
        </html>
