<html>

<head>
    <script src="/js/jquery-3.6.1.js"></script>
    <script src="/js/addvendor.js"></script>
    <script src="/js/logout.js"></script>
    <link rel="icon" href="/img/logo.jpg">
    <link rel="stylesheet" href="/css/addvendor.css">
    <title>GTC</title>
</head>

<body>
    <div>
        <h1> Global Connect </h1> <button id="logBtn">Logout</button>
        <hr>
    </div>
    <div id='cssmenu'>
        <ul>
            <li><a href='/home'><span>Home</span></a></li>
            <li><a href='/admin'><span>Admin</span></a></li>
            <li><a href='/vendor'><span>Vendor</span></a></li>
            <li><a href='/user'><span>User</span></a></li>
            <li><a href="/product"><span>Product</span></a></li>
            <li><a href="/ad"><span>Ad</span></a></li>
        </ul>
    </div>

    <form id="userForm" style="position:absolute; left:200px; bottom:10px;">
        <label>Company Name </label>
        <input type="text">
        <br>
        <br>
         <label>Vendor Name </label>
        <input type="text">
        <br>
        <br>
        <br>
         <label>Plan</label>
        <select>
            <option>Plan A</option>
            <option>Plan B</option>
            <option>Plan C</option>
        </select>
        <label>Status</label>
        <select>
            <option>Active</option>
        </select>
        <br>
        <br>
        <br>
         <label>Email Id</label>
        <input type="email">
        <br>
        <br>
        <br>
        <div>
        <input type="submit" value="Create" style="position:relative; left:0px;">
        <input type="Reset" value="Reset" style="position:relative; left:50px;">
        </div>
    </form>
    </body>
    </html>