<html>
    <html lang="en">

<head>
     <meta charset="UTF-8">
    <script src="/js/jquery-3.6.1.js"></script>
    <script src="/js/forgot_pwd.js"></script>
    <script src="/js/logout.js"></script>
    <link rel="stylesheet" href="/css/forgot.css">
    <title>GTC</title>
    <link rel="icon" href="/img/logo.jpg">
</head>

<body>
    <div>
        <h1> Global Connect </h1> <button id="logBtn">Logout</button>
        <hr>
    </div>
    <div id='cssmenu'>
        <ul>
            <li><a href='/home'><span>Home</span></a></li>
            <li><a href='/admin'><span>Admin</span></a></li>
            <li><a href='/vendor'><span>Vendor</span></a></li>
            <li><a href='/user'><span>User</span></a></li>
            <li><a href="/product"><span>Product</span></a></li>
            <li><a href="/ad"><span>Ad</span></a></li>
        </ul>
        </div>
        <form id="userForm" style="position:absolute; left:200px; bottom:0px;">
        <fieldset>
            <legend>Forgot Password</legend>
        <label> User Name :</label>
        <input type="text">
        <br>
        <br>
        <br>
         <label>New Password:</label>
        <input type="password">
        <br>
        <br>
        <br>
         <label> Confirm Password :</label>
        <input type="password">
        <br>
        <br>
        <br>
        <input type="Reset" id="resetBtn" value="Reset" style ="position: relative; left: 120px;">
        <br>
    </form>
    </fieldset>
        </body>
        </html>
