<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Page with Background Image Example</title>
  <link rel="stylesheet" href="./css/login.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="bg"></div>
  <form action="home.hbs" method="get" enctype="multipart/form-data"></form>
<form>
  <div class="form-field">
    <input type="username" placeholder="username" required/>
  </div>
  
  <div class="form-field">
    <input type="password" placeholder="Password" required/>
  </div>
  
  <div class="btn">
    <a href="/" class="button">Login</a>
    <a href="/registration" class="button">Register</a>
    <br>
    <br>
    <a href="/forgot_pwd" class="button1">Forgot Password</a>
  </div>
</form>
<!-- partial -->
  
</body>
</html>
